#gender-title,
#photo-title {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}
.gender input[type="radio"] {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.gender label {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
  line-height: 36px;
  cursor: pointer;
}
.gender label::before {
  content: " ";
  position: absolute;
  top: 6px;
  left: 0;
  display: block;
  width: 24px;
  height: 24px;
  border: 2px solid #a1a1a1;
  border-radius: 4px;
  z-index: -1;
}
.gender input[type="radio"] + label::before {
  border-radius: 18px;
}
/* Checked */
.gender input[type="radio"]:checked + label {
  padding-left: 10px;
  color: #fff;
}
.gender input[type="radio"]:checked + label::before {
  top: 0;
  width: 100%;
  height: 100%;
  background: #a1a1a1;
}

.gender label,
.gender label::before {
  -webkit-transition: 0.25s all ease;
  -o-transition: 0.25s all ease;
  transition: 0.25s all ease;
}

/* Input file*/

.input-file-container {
  position: relative;
  width: 100%;
}
.input-file-trigger {
  text-align: center;
  display: block;
  padding: 14px 45px;
  background: #a1a1a1;
  color: #fff;
  font-size: 1em;
  transition: all 0.4s;
  cursor: pointer;
}
.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.input-file:hover + .input-file-trigger,
.input-file:focus + .input-file-trigger,
.input-file-trigger:hover,
.input-file-trigger:focus {
  background: #34495e;
  color: #39d2b4;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.file-return {
  font-style: italic;
  font-size: 0.9em;
  font-weight: bold;
}

.file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}

.display-foto {
  text-align: center;
}

.display-foto img {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 550px) {
  .gender,
  .photo {
    display: flex;
  }
  #gender-title,
  #photo-title {
    margin-right: 50px;
  }
}

#refresh-button {
  background: #a1a1a1;
  border: none;
  color: #fff;
}
